/* Tổng thể */
.container {
  background-color: #fefce8; // 🌞 nền vàng kem sáng nhẹ
  padding: 40px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 14px;
  animation: fadeIn 0.3s ease;
}

.banner {
  background: linear-gradient(to right, #fcd34d, #fbbf24, #f59e0b);
  padding: 20px 24px;
  margin-bottom: 14px;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(251, 191, 36, 0.2);
}

.banner-text {
  animation: pulse 3s infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.65;
  }
}

/* Cột */
.columns {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}